# file types
*.pdf
*.py~
*.*~
*__pycache*
.ipynb_checkpoints/
*build*
make.bat
Makefile

# directories
public/
out*/
database*/
*.egg-info*
*.vscode*
dist/
tests/_out
tests/*.ipynb

# specific files
.coverage
.bamboost_cache
_ignore
bamboost/_version.py
bamboost.toml
