image: node:latest

stages:
  - deploy

before_script:
  - apt-get update
  - apt-get install -y openmpi-bin libopenmpi-dev
  - apt-get install -y python3 python3-pip
  - apt-get install -y python3.11-venv

pages:
  stage: deploy
  cache:
    paths:
      - node_modules/
      - .cache/
  script:
    - python3 -m venv .venv
    - source .venv/bin/activate
    - pip3 install mpi4py
    - pip3 install .
    - pip3 install docstring-parser pdoc
    - git clone https://gitlab.com/zrlf/bamboost-docs.git
    - cd bamboost-docs/
    - rm -r docs/autoDocs/
    - cd extract-docs/
    - python3 autodoc_bamboost.py
    - cd ../
    - npm install
    - npm run build
    - rm -rf ./public
    - mv ./build ../public
  artifacts:
    paths:
      - public
  only:
    - main
