image: dhna/mpi4py

stages:
  - build
  - deploy

generate_documentation:
  stage: build
  script:
    - echo $(python -V)
    - pip install .
    - git clone https://gitlab.com/zrlf/bamboost-docs.git
    - cd bamboost-docs/extract-docs
    - python autodoc_bamboost.py
  only:
    - dev

deploy:pages:
  stage: deploy
  image: node:latest
  cache:
    paths:
      - node_modules/
      - .cache/
  script:
    - cd bamboost-docs/
    - npm install
    - npm run build
    - rm -rf ./public
    - mv ./build ./public
  artifacts:
    paths:
      - public
  only:
    - dev



