stages:
  - docs

build_doc_source:
  stage: docs
  image: dhna/mpi4py
  before_script:
    - 'which ssh-agent || ( apt-get update -qy && apt-get install openssh-client -qqy )'
    - eval `ssh-agent -s`
    - echo "${SSH_PRIVATE_KEY}" | tr -d '\r' | ssh-add - > /dev/null
    # Setup known ssh hosts
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - ssh-keyscan gitlab.com >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - pip install pdoc docstring-parser
  script:
    - pip install .
    - git clone git@gitlab.com:zrlf/bamboost-docs.git
    - cd bamboost-docs/
    - rm -r docs/autoDocs/
    - cd extract-docs/
    - python autodoc_bamboost.py
    - cd ..
    - git commit -m "CI_REF_GUIDE_UPDATE:$(python -c "import bamboost; print(bamboost.__version__)")"
    - git push
  only:
    - dev




