image: dhna/mpi4py

stages:
  - deploy

before_script:
  - apt-get update
  - apt-get install -y curl
  - curl -sL https://deb.nodesource.com/setup_14.x | bash -
  - apt-get install -y nodejs

deploy:pages:
  stage: deploy
  cache:
    paths:
      - node_modules/
      - .cache/
  script:
    - pip install .
    - pip install docstring-parser pdoc
    - git clone https://gitlab.com/zrlf/bamboost-docs.git
    - cd bamboost-docs/extract-docs
    - python autodoc_bamboost.py
    - cd ../
    - npm install
    - npm run build
    - rm -rf ./public
    - mv ./build ../public
  artifacts:
    paths:
      - public
  only:
    - dev



