# file types
*.pdf
*.py~
*.*~
*__pycache*
.ipynb_checkpoints/
*build*
make.bat
Makefile

# directories
out/
database*/
*.egg-info*
*.vscode*
dist/
docs/
tests/_out
tests/*.ipynb

# specific files
.coverage
bamboost/_version.py
