*.pdf
*.py~
*.*~
*__pycache*
.ipynb_checkpoints/
*build*
make.bat
Makefile
out/
database*/
*.egg-info*
dbmanager.wiki
*.vscode*
dist/
docs/
frontend/
extract-docs/
tests/_out
tests/*.ipynb
tests/*.coverage
