on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

name: release-please

jobs:
  release-please:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: "release-please-config.json"
          manifest-file: ".release-please-manifest.json"

      # each step must have the "if" guard
      # it ensures that a publication only occurs when a new release is created
      - uses: actions/checkout@v6
        if: ${{ steps.release.outputs.release_created }}
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
        if: ${{ steps.release.outputs.release_created }}
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        if: ${{ steps.release.outputs.release_created }}
      - name: Build package
        run: uv build
        if: ${{ steps.release.outputs.release_created }}
      - name: Publish to PyPi
        run: uv publish
        if: ${{ steps.release.outputs.release_created }}

      # Next, dispatch workflow to rebuild docs
      - name: Trigger bamboost-docs deploy workflow
        if: ${{ steps.release.outputs.release_created }}
        env:
          DOCS_TOKEN: ${{ secrets.BAMBOOST_DOCS_WF_TOKEN }}
          REPO: zrlf/bamboost-docs
          WORKFLOW_FILE: deploy.yml
          REF: main
          TAG_NAME: ${{ steps.release.outputs.tag_name }}
        run: |
          echo "Triggering GitHub workflow for tag ${TAG_NAME}"
          curl -L -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${DOCS_TOKEN}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/${REPO}/actions/workflows/${WORKFLOW_FILE}/dispatches \
            -d "{\"ref\":\"${REF}\",\"inputs\":{\"tag\":\"${TAG_NAME}\"}}"
